  	/* 蒙板  左右划门样式  */ 	
.way-mask{
	position: absolute; 
	width : 50%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	/* background: linear-gradient( #eee, #ddd);  */
	background: #fff;
	z-index: 10;
}
.mask-left {
	left: 0px;
	overflow-x: hidden; 
}
.mask-right {
	right: 0px;
	overflow-x:hidden
}
.mask-card {
	position: absolute;
	top: 20%;
	right: 0px;
	width: 300px;
	height: 370px;
	background: #fff;
	overflow: hidden;
}
.mask-left .mask-card {
	border-right: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}
.mask-right .mask-card {
	left: 0px;
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}
.black-strip{
	position: absolute;
	top: 30px;
	width: 100%;
	height: 50px;
	background: #777;
	background: linear-gradient( #999, #666); 
}
.card-number {
	position: absolute;
	top: 50%;
	right: 7px;
}
.mask-right .card-number{
	left: 7px;
}
.card-number .card-number-item {
	font-size: 36px;
	color: #eee;
	font-weight:bold;
    font-family:"Arial Black", Gadget, sans-serif;
	text-shadow:0px 1px 1px rgba(255,255,255,1), 0px -1px 1px rgba(0,0,0,.3);	
	float: left;
	margin-left: 15px;
}
.mask-band-aid{
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -3px;
	width: 15px;
	height: 370px;
	/* border: 1px solid red; */
	background: #fff;
}



.way-mask-hide{
	animation:hide-mask 1s forwards;
}
.way-mask-show{
	animation:show-mask 1s forwards;
}
@-webkit-keyframes hide-mask {/* Safari 和 Chrome */
		0%   {width: 50%;}
		100% {width: 0%;}
}
@-webkit-keyframes show-mask {/* Safari 和 Chrome */
		0%   {width: 0%;}
		100% {width: 50%;}
}
 